# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
*.RData
# RStudio Project Files
.RProj
.Rproj.user
MICORDEA.Rproj

*.Rproj

MICORDEA.Rproj
*.PDF
*.pdf
R Code/TZA_adm0.RData

LaTeX/Duku et al.aux

LaTeX/Duku et al.bbl

LaTeX/Duku et al.log

LaTeX/Duku et al.synctex.gz

LaTeX/Duku et al.spl

LaTeX/Duku et al.synctex.gz(busy)

LaTeX/Duku et al.log

LaTeX/Duku et al.blg

LaTeX/Duku et al.out
